html, body {
  width: 110px;
}


.square {
  width: 100px;
  height: 25px;
  margin: 1px;
}
.square:hover {
  cursor: pointer;
}
.content {
 padding: 5px;
}

.hidden {
  display: none;
}

.reset {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  
  margin: 4px 2px;
  cursor: pointer;
}

.reset:hover {
  background-color: tomato;
}
